* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(7, 25, 49);
    padding-bottom: 40px;
}

.container h2 {
    line-height: 50px;
    padding: 15px 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(223, 208, 238);
    background-color: rgb(187, 82, 33);
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    width: 25%;
    margin: 10px 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item video {
    width: 100%;
}

.gallery-item video:hover {
    cursor: pointer;
}

.gallery-item p {
    color: white;
}
